---
layout: page
title: "about"
description: "Loading blog tag..."
header-img: "img/contact-bg.jpg"
name: about 
---
<p>Me around the interwebz, go ahead and stalk me :)</p>
<ul>
 <li>Email: hi&#xff20;rokin.ovh</li>
 <li><a href="https://twitter.com/rokinrool">Twitter</a></li>
 <li><a href="http://www.lastfm.fr/user/rokin_rool">Lastfm</a></li>
 <li><a href="https://www.pinterest.com/rokin/">Pintrest</a></li>
 <li><a href="https://soundcloud.com/rokinz">Soundcloud</a></li>
</ul>
