---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                   {% if page.index %}
                            <img id="avatar" src="{{ site.baseurl }}/img/avatar.gif">
                        {% elsif page.title %}
                            <h1>{{ page.title }}</h1>
                        {% else %}
                            <h1>{{ site.title }}</h1>
                   {% endif %}
                    <hr class="small">
                    <span class="subheading" id="{{ page.name }}">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
